@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "MabryPro";
    src: url('/MabryPro-Regular.ttf');
}
/* @font-face {
    font-family: MabryPro;
    src: url('/fonts/MabryPro-Regular.woff2'), 
         url('/MabryPro-Regular.ttf'),;
    font-weight: normal;
    font-style: normal;
    font-display: swap;
} */